h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: "Pacifico", cursive;
}

button{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
}

a {
   text-decoration: none;
}

.lietuva, .ziema {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 60px;
}



